<!doctype html>
<html lang="en">

<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

        <title>Dingo Restaurants</title>
</head>

<body style="background-color:crimson;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">

        <div class="container" style="margin:0 auto;width:75%;">
                <h3 style="color:white;text-align:center; margin-top:20px;">Welcome to Our Dingo Restaurants</h3>
                <hr style="color:white" >

                <div class="container" style="display:flex;flex-wrap:wrap;justify-content:space-around;">

                        <div class="reservation" style="margin-top: 40px;">
                                <h4 style="color:rgb(202, 247, 3);font-size:27px">Your Reservation Details :</h4>
        
                                <div class="info" style="margin-left:20px">
                                        <p style="color:white;font-size:20px">Name : {{ name }}</p>
                                        <p style="color:white;font-size:20px">Phone : {{ phone }}</p>
                                        <p style="color:white;font-size:20px">Timing : {{ time }}</p>
                                        <p style="color:white;font-size:20px">Day : {{ day }}</p>
                                        <p style="color:white;font-size:20px">No. of Person : {{ no_person  }} Person</p>
                                </div>
                        </div>

                        <div class="char" style="margin-bottom: 80px;">
                                <img src="https://svgsilh.com/svg/307076.svg" alt="" width="300px" style="margin-top:10px">
                        </div>
                </div>


                <h4 style="color:rgb(250, 179, 121);padding:10px">Dingo Foods and Services</h4>
                <div class="container"  style="display:flex;flex-wrap:wrap;justify-content:space-around;">
                        <img src="https://source.unsplash.com/1600x900/?dinner" alt="" height="150px" width="300px" style="padding:10px;">
                        <img src="https://source.unsplash.com/1600x900/?lunch" alt="" height="150px" width="300px" style="padding:10px;">
                        <img src="https://source.unsplash.com/1600x900/?breakfast" alt="" height="150px" width="300px" style="padding:10px;">
                        <img src="https://source.unsplash.com/1600x900/?restaurants" alt="" height="150px" width="300px" style="padding:10px;">
                </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- Popper.js first, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</body>

</html>