{% extends 'base.html' %}
{% load static %}
{% block Content %}



<section class="banner"style="background-image:  url({% static 'images/banner-bg.jpg' %}); " >
<!-- <section class="banner" style="background:  url('https://source.unsplash.com/1600x900/?food,lunch,dinner')"> -->
        <div class="container">
                <div class="row">
                        <div class="tm-lights-container">
                                <img src="{% static 'images/light.png'%}" alt="Light" class="light light-1">
                                <img src="{% static 'images/light.png'%}" alt="Light" class="light light-2">
                                <img src="{% static 'images/light.png'%}" alt="Light" class="light light-3">
                        </div>
                        <div class="col-md-6 col-md-offset-3 come">
                                <h4>Here You Can Find Delecious Food</h4>
                                <h2>Our Dingo Restaurant</h2>
                                <p style="color:white">Some people call it a sizzle. We think of it as an anthem.</p>
                                {% if user.is_authenticated %}
                                        <div class="primary-button">
                                                <a href="#" class="scroll-link " data-id="book-table">{{ request.user.username }} Order Right Now</a>
                                        </div>
                                {% else %}
                                        <div class="primary-button">
                                                <a href="#" class="scroll-link " data-id="book-table">Order Right Now</a>
                                        </div>
                                {% endif %}
                        </div>

                </div>

        </div>

</section>




<section class="cook-delecious">
        <div class="container">
                <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                                <div class="first-image">
                                        <img src="{% static 'images/cook_01.jpg' %}" alt="">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="cook-content">
                                        <h4>We cook delecious</h4>
                                        <div class="contact-content">
                                                <span>You can call us on:</span>
                                                <h6>+ 1234 567 8910</h6>
                                        </div>
                                        <span>or</span>
                                        <div class="primary-white-button">
                                                <a href="#" class="scroll-link" data-id="book-table">Order Now</a>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="second-image">
                                        <img src="{% static 'images/cook_02.jpg' %}" alt="">
                                </div>
                        </div>
                </div>
        </div>
</section>




<section class="services">
        <div class="container">
                <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="service-item">
                                        <a href="menu.html">
                                                <img src="{% static 'images/cook_breakfast.png' %}" alt="Breakfast">
                                                <h4>Breakfast</h4>
                                        </a>
                                </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="service-item">
                                        <a href="menu.html">
                                                <img src="{% static 'images/cook_lunch.png' %}" alt="Lunch">
                                                <h4>Lunch</h4>
                                        </a>
                                </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="service-item">
                                        <a href="menu.html">
                                                <img src="{% static 'images/cook_dinner.png' %}" alt="Dinner">
                                                <h4>Dinner</h4>
                                        </a>
                                </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="service-item">
                                        <a href="menu.html">
                                                <img src="{% static 'images/cook_dessert.png' %}" alt="Desserts">
                                                <h4>Desserts</h4>
                                        </a>
                                </div>
                        </div>
                </div>
        </div>
</section>



<section id="book-table" style="background: url('{% static 'images/book-bg.jpg' %}');">
        <div class="container">
                <div class="row">
                        <div class="col-md-12">
                                <div class="heading">
                                        <h2>Book Your Table Now</h2>
                                </div>
                        </div>
                        <div class="col-md-4 col-md-offset-2 col-sm-12">
                                <div class="left-image">
                                        <img src="{% static 'images/book_left_image.jpg' %}" alt="">
                                </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                                <div class="right-info">
                                        <h4>Reservation</h4>
                                        <form id="form-submit" action="{% url 'reservation' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="row">
                                                        <div class="col-md-6">
                                                                <fieldset>
                                                                        <select required name='day'>
                                                                                <option value="">Select day</option>
                                                                                <option value="monday">Monday</option>
                                                                                <option value="tuesday">Tuesday</option>
                                                                                <option value="wednesday">Wednesday</option>
                                                                                <option value="thursday">Thursday</option>
                                                                                <option value="friday">Friday</option>
                                                                                <option value="saturday">Saturday</option>
                                                                                <option value="sunday">Sunday</option>
                                                                        </select>
                                                                </fieldset>
                                                        </div>
                                                        <div class="col-md-6">
                                                                <fieldset>
                                                                        <select required name='hour'>
                                                                                <option value="">Select hour</option>
                                                                                <option value="10:00">10:00</option>
                                                                                <option value="12:00">12:00</option>
                                                                                <option value="14:00">14:00</option>
                                                                                <option value="16:00">16:00</option>
                                                                                <option value="18:00">18:00</option>
                                                                                <option value="20:00">20:00</option>
                                                                                <option value="22:00">22:00</option>
                                                                        </select>
                                                                </fieldset>
                                                        </div>
                                                        <div class="col-md-6">
                                                                <fieldset>
                                                                        <input name="name" type="name" class="form-control" id="name" placeholder="Full name" required="">
                                                                </fieldset>
                                                        </div>
                                                        <div class="col-md-6">
                                                                <fieldset>
                                                                        <input name="phone" type="phone"class="form-control" id="phone"placeholder="Phone number" required="">
                                                                </fieldset>
                                                        </div>
                                                        <div class="col-md-6">
                                                                <fieldset>
                                                                        <select required class="person" name='persons'>
                                                                                <option value="">How many persons?</option>
                                                                                <option value="1">1 Person</option>
                                                                                <option value="2">2 Persons</option>
                                                                                <option value="3">3 Persons</option>
                                                                                <option value="4">4 Persons</option>
                                                                                <option value="5">5 Persons</option>
                                                                                <option value="6">6 Persons</option>
                                                                        </select>
                                                                </fieldset>
                                                        </div>
                                                        <div class="col-md-6">
                                                                <fieldset>
                                                                        <button type="submit" id="form-submit"class="btn">Book Table</button>
                                                                </fieldset>
                                                        </div>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </div>
        </div>
</section>



<section class="get-app">
        <div class="container">
                <div class="row">
                        <div class="heading">
                                <h2>Get application for your phone</h2>
                        </div>
                        <div class="primary-white-button">
                                <a href="#">Download now</a>
                        </div>
                </div>
        </div>
</section>



<section class="featured-food">
        <div class="container">
                <div class="row">
                        <div class="heading">
                                <h2>Weekly Featured Food</h2>
                        </div>
                </div>
                <div class="row">
                        {% for weekly in weeklyfood %}
                        <div class="col-md-4">
                                <div class="food-item">
                                        <h2>{{ weekly.foodHour }}</h2>
                                        <img src="{{ weekly.foodImage.url }}" alt="" height="300px">
                                        <div class="price">Rs {{ weekly.price }}</div>
                                        <div class="text-content">
                                                <h4>{{ weekly.title }}</h4>
                                                <p>{{ weekly.detail }}</p>
                                        </div>
                                </div>
                        </div>  
                        {% endfor %}                      
                </div>
        </div>
</section>



<section class="our-blog">
        <div class="container">
                <div class="row">
                        <div class="col-md-12">
                                <div class="heading">
                                        <h2>Our blog post</h2>
                                </div>
                        </div>
                </div>
                <div class="row">
                        {% for blog in blogs %}
                        <div class="col-md-6">
                                <div class="blog-post">
                                        <img src="{{ blog.postImage.url }}" alt="{{ blog.title }}" height="200px">
                                        <div class="date">{{ blog.timeStamp }}</div>
                                        <div class="right-content">
                                                <h4>{{ blog.title }}</h4>
                                                <span>{{ blog.catagory }}</span>
                                                <p>{{ blog.displayContent|truncatechars:80 }}</p>
                                                <div class="text-button">
                                                        <a href="blog/{{ blog.slug }}">Continue Reading</a>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        {% endfor %}
                </div>
        </div>
</section>



<section class="sign-up" style=" background-image:  url({% static 'images/signup-bg.jpg' %}); ">
        <div class="container">
                <div class="row">
                        <div class="col-md-12">
                                <div class="heading">
                                        <h2>Signup for our newsletters</h2>
                                </div>
                        </div>
                </div>
                <form id="contact" action="{% url 'newsLetter' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                                <div class="col-md-4 col-md-offset-3">
                                        <fieldset>
                                                <input name="email" type="text" class="form-control" id="email" placeholder="Enter your email here..." value="{{ request.user.email }}" required="">
                                        </fieldset>
                                </div>
                                <div class="col-md-2">
                                        <fieldset>
                                                <button type="submit" id="form-submit" class="btn">Send Message</button>
                                        </fieldset>
                                </div>
                        </div>
                </form>
        </div>
</section>

{% endblock Content %}